@model ASPNET_MVC.Models.Implementation.Authentication
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_ClientMasterPage.cshtml";
}

<div class="container">
    <div class="col-md-4">
        <h2>Login</h2>
        <br />
        @using (Html.BeginForm("Login", "Authentication", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("Attempt", new { @class = "text-danger" })
            <br/>
            if (@ViewBag.Message != null)
            {
                @ViewBag.Message
            }

            <label for="inputUsername" class="sr-only">Username or Email Address</label>
            <input type="text" id="inputUsername" name="username" class="form-control" value="@Html.ValueFor(x => x.Username)" placeholder="" autofocus>
            @Html.ValidationMessageFor(a => a.Username, "", new { @class = "text-danger" })

            <br/>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="">
            @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        }
    </div>
</div>
